<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloApedidos.css') }}">
</head>

<body>


    <div id="templatemo_top">
        <ul class="templatemo_menu_horizon">
            <li class="current"><a href="/"><b>Inicio</b></a></li>
            <li><a href="/agregar-donacion/1"><b>Agregar Donación</b></a></li>
            <li><a href="/agregar-pedido/1"><b>Agregar Pedido</b></a></li>
            <li><a href="/ver-donaciones/0"><b>Ver Donaciones</b></a></li>
            <li><a href="/ver-pedidos/0"><b>Ver Pedidos</b></a></li>

        </ul>
        <div class="templatemo_spacer"></div>
    </div>
    <div class="main-container">
        <div id="val-box" hidden>
            <h2 id="val-msg">.</h2>
            <ul id="val-list"></ul>
        </div>
        <div>
            <form name="formulario-agrega-pedido" method="post" enctype="multipart/form-data">
                <label for="region">Regiones:</label>
                <input type="hidden" name="region_id" id="region_id">

                <select id="region" name="region" onchange="seleccionarRegion()">
                    {% for region in regiones %}
                    <option value="{{ region.id }}">{{ region.nombre }}</option>

                    {% endfor %}
                  
            </select>

                <label for="comuna">Comunas:</label>
                <select id="comuna" name="comuna">
                    {% for comuna in comunas %}
                    <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                    {% endfor %}
            </select>
                <label for="tipo">Seleccione el tipo del pedido:</label>
                <select id="tipo" name="tipo">
                <option value="0">Escoja un tipo</option>
                <option value="1">Fruta</option>
                <option value="2">Verdura</option>
                <option value="3">Otro</option>
            </select>


                <label for="descripcion"> Descripción del pedido</label>
                <input type="text" name="descripcion" id="descripcion">
                <label for="cantidad">  Cantidad</label>
                <input type="text" name="cantidad" id="cantidad">
                <label for="nombre"> Nombre del solicitante</label>
                <input type="text" name="nombre" id="nombre">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" minlength="15"><br>
                <label for="celular">Celular</label>
                <input type="text" name="celular" id="celular" minlength="15"><br>

                <button id="submit-btn1" onclick="validateForm()" type="button">Agregar Pedido</button>
                <div id="mensaje" style="display: none;">
                    <p>¿Confirma que desea agregar este pedido?</p>

                    <button id="confirma" type="submit">Si, deseo enviar el formulario</button>

                    <button id="cancela" type="button"> No,quiero volver al formulario</button>

                </div>
                <div id="mensaje-final" style="display: none;">
                    <p>Hemos recibido la información de su pedido. Muchas gracias.</p>

                    <button type="button" onclick="window.location.href='inicio.html'"> Volver al inicio</button>



                </div>
            </form>


        </div>
    </div>


    {% block javascript %}
    <script src="{{ url_for('static', filename='js/validadorPedido.js') }}"></script>
    {% endblock %}
</body>


</html>