<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información pedido</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilopedidos.css') }}">

    <body>
        Tabla completa de información del pedido

        <table>

            <tr>
                <td>Región</td>
                <td>Comuna</td>
                <td>Tipo</td>
                <td>Cantidad</td>
                <td>Descripción</td>
                <td>Nombre Solicitante</td>
                <td>Email</td>
                <td>Celular</td>
            </tr>
            {% for pedido in pedidos %}
        <tr>    
    
            <td >{{ pedido.nombre_region }}</td>
            <td >{{ pedido.nombre_comuna }}</td>
            <td >{{ pedido.tipo }}</td>
            <td >{{ pedido.cantidad}}</td>

            <td >{{ pedido.descripcion }}</td>
            <td >{{ pedido.nombre_solicitante }}</td>
            <td >{{ pedido.email_solicitante }}</td>
            <td >{{ pedido.celular_solicitante }}</td>
  
               
        </tr>
        {% endfor %}
        </table>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
        {% block javascript %}
        <script  src="{{ url_for('static', filename='js/mostrarPedido.js') }}"></script>
        {% endblock %}
    
    </body>

</html>